.fa-plus-square {
  color: #cd0000;
}
.fa-dumbbell {
  color: #613000;
}
.fa-brain {
  color: #009de8;
}
.fa-palette {
  color: #9c00e8;
}
.fa-hand-holding-heart {
  color: #1cbd00;
}
.fa-coins {
  color: #8e6200;
}
