.scroll-view {
    position: absolute;
    top:170px;
    bottom:0;
    overflow-y: scroll;
    padding:15px;
    width:100%;
    left:0;
}

.complete-button {
    float:right;
    text-align: right;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

.profile-header {
  position:absolute;
  top:0;
  height:170px;
  background-color: rgb(214, 188, 123);
}

.stats-display{
  font-size: 90%;
}